<h1>Your Very Own Customizable Dictionary</h1>


<a href="/words"class="btn btn-info">View Your Words</a>
<a href="/words-and-defs" class="btn btn-primary">View Entire Dictionary</a>
<a href="/words/new" class="btn btn-danger">Add a New Word</a>
