<h1>Your Very Own Customizable Dictionary</h1>
<br>
<blockquote>
<p>Who is to say who is the villain and who is the hero? Probably the dictionary.</p>
<footer><cite title="Source Title">Joss Whedon</cite></footer>
</blockquote>
<br>
<br>
<a href="/words"class="btn btn-info">View Your Words</a>
<a href="/words-and-defs" class="btn btn-primary">View Entire Dictionary</a>
<br>
<br>
<a href="/words/new" class="btn btn-danger">Add a New Word</a>
