<h1>All The Words In Your Dictionary:</h1>

#foreach ($word in $words)
  <li><h3><a href="/words/$word.getId()">$word.getWord()</a></h3></li>
#end

<a href="/words/new" class="btn btn-danger"> Add A New Word </a>
<a href="/words-and-defs" class="btn btn-primary"> View Entire Dictionary </a>
<a href="/" class="btn btn-default"> Return To Homepage</a>
