<h1>Add a New Definition for $word.getWord()</h1>


<form action="/definitions" method="post">
  <label for="definition">What's the word, bird?</label>
  <input id="definition" name="definition" type="text" required>
  <button type="submit" class="btn btn-success">Add a New Definition</button>
</form>
