<h1>Add a New Definition for $word.getWord()</h1>


<form action="/definitions" method="post">
  <input id="wordId" name="wordId" type="hidden" value="$word.getId()">

  <div class="form-group">
    <label for="definition">What's your definition?</label>
    <input id="definition" name="definition" type="text" required>
  </div>
  <button type="submit" class="btn btn-success">Add a New Definition</button>
</form>
