<h1>Add A New Word</h1>
<br>
<br>
<form action="/words" method="post">
  <input id="word" name="word" type="text" placeholder="Type the word you'd like to add here!" style="width: 400px" required>
  <br>
  <br>
  <button type="submit" class="btn btn-success">Add a New Word</button>
</form>
