<h1>Your Entire Dictionary</h1>
<br>
<div class="row">
#foreach($word in $words)
  <div class="col-md-6">
    <h3><a href="/words/$word.getId()">$word.getWord()</a></h3>
 #foreach ($defintion in $word.getDefinitions())
   <li><h5>$defintion.getDefinition()</h5></li>
 #end
 </div>
#end
</div>

<br>
<br>
<a href="/words"class="btn btn-info">View Your Words</a>
<a href="/words/new" class="btn btn-danger"> Add A New Word </a>
<a href="/" class="btn btn-default"> Return To Homepage</a>
